@font-face {
    src: url("resources/emojione-svg.otf");
}

.watermelon{
    -fx-fill: url("game/resources/1f349.png");
}

.icecream{
    -fx-fill: url("game/resources/1f366.png");
}

.cake{
    -fx-fill: url("game/resources/1f370.png");
}

.bullet{
    -fx-fill: black;
}