.watermelon{
    -fx-fill: url("window/resources/1f349.png");
}

.icecream{
    -fx-fill: url("window/resources/1f366.png");
}

.cake{
    -fx-fill: url("window/resources/1f370.png");
}

.candy{
    -fx-fill: url("window/resources/1f36c.png");
}

.chocolate{
    -fx-fill: url("window/resources/1f36b.png");
}

.birthdaycake{
    -fx-fill: url("window/resources/1f382.png");
}

.bullet{
    -fx-fill: black;
}

.health{
    -fx-background-image: url("resources/2764.png");
    -fx-background-repeat: repeat-x;
}

.stat-text{
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.stat-text .label{
    -fx-padding: 3px;
}

.dialog-background{
    -fx-background-radius: 10;
    -fx-background-color: rgba(100, 100, 100, 0.35);
}

.dialog-header{
    -fx-font-size: 26;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.dialog-text{
    -fx-font-size: 26;
    -fx-font-family: "Courier New";
}

.dialog-comment{
    -fx-font-size: 18;
}